In [1]:
import pandas as pd
#  pip install pandas_summary
from pandas_summary import DataFrameSummary

# Competencia de Kaggle

[ir a Kaggle](https://www.kaggle.com/c/rossmann-store-sales/data)

[3er puesto](https://github.com/entron/entity-embedding-rossmann)

# Métrica de la competencia

$$
\textrm{RMSPE} = \sqrt{\frac{1}{n} \sum_{i=1}^{n} \left(\frac{\hat{y}_i - y_i}{y_i}\right)^2}
$$

donde:

- $y_i$ las ventas de un día particular de un store
- $\hat{y}_i$ ventas estimadas por el modelo
- $n$ es el número de predicciones realizadas

## Importamos dataset

La competencia permitía agregar datos externos para realizar la predicción

The following tables are available in the datasets:

| Archivo      | Descripción| Origen de Datos|
|--------------|--------------------------------------------------------------------|--|
| train.csv        | training set: información del store día a día, ventas, clientes, si es feriado, etc | Kaggle |
| store.csv       | Información general del store, por ejemplo datos del competidor | Kaggle |
| store_states.csv | Mapea de store a estado - Dato externo| Externos |
| state_names.csv  | Mapea estados a acronimo de estado | Externos |
| googletrend.csv  | Tendencias por semana - Dato externo| Externos|
| weather.csv      | Condiciones meteorológicas por día | Externos|

In [4]:
PATH = ''

In [5]:
table_names = ['train', 'store', 'store_states', 'state_names', 'googletrend', 'weather']
c, store, store_states, state_names, googletrend, weather = [pd.read_csv(PATH + fname+'.csv', 
                                                                             low_memory=False) for fname in table_names]

In [ ]:
display(train.head())
display(DataFrameSummary(train).summary())

- Mirar counts que todos tienen la misma cantidad
- Ninguno tiene missing
- Los tipos tambien es interesante observar

In [ ]:
train['StateHoliday'].value_counts()

In [ ]:
display(store.head())
display(DataFrameSummary(store).summary())

Descripción de algunas columnas que quizas no sean tan claras:

- `Customers`: La cantidad de clientes por día
- `Open`: Indicador si el store estaba abierto o cerrado: 0 = closed, 1 = open
- `StateHoliday`: Indica feriado en ese estado. a = public holiday, b = Easter holiday, c = Christmas, 0 = None
- `SchoolHoliday`: Inidica si el store fue afectado por el feriado escolar
- `StoreType`: Tipos de store: a, b, c, d
- `Assortment`: Describe el nivel de surtido de la tienda: a = basic, b = extra, c = extended
- `CompetitionDistance`: Distancia en metros al competidor
- `CompetitionOpenSince[Month/Year]`: Fecha en que abrío la competencia
- `Promo`: Si el store esta corriendo una promoción ese día
- `Promo2`: Promo2 is a continuing and consecutive promotion for some stores: 0 = store is not participating, 1 = store is participating
- `Promo2Since[Year/Week]`: describes the year and calendar week when the store started participating in Promo2
- `PromoInterval`: describes the consecutive intervals Promo2 is started, naming the months the promotion is started anew. E.g. "Feb,May,Aug,Nov" means each round starts in February, May, August, November of any given year for that store

In [ ]:
store['StoreType'].value_counts()

In [ ]:
store['PromoInterval'].value_counts()

In [ ]:
display(store_states.head(20))
display(DataFrameSummary(store_states).summary())

In [ ]:
display(state_names.head(20))
display(DataFrameSummary(state_names).summary())

In [ ]:
display(googletrend)
display(DataFrameSummary(googletrend).summary())

In [ ]:
display(weather)
display(DataFrameSummary(weather[['Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
   'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 'Max_Wind_SpeedKm_h', 
   'Mean_Wind_SpeedKm_h', 'CloudCover', 'Precipitationmm']]).summary())

In [10]:
train

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [13]:
sales0=train[train["Sales"]==0]

In [22]:
sales1=train[train["Sales"]!=0]

In [28]:
sum(sales1.groupby("DayOfWeek").sum()["Sales"])

5873180623

In [36]:
sales1.groupby("DayOfWeek").sum()

              Store       Sales  Customers    Open  Promo  SchoolHoliday
DayOfWeek
1          76814522  1130203012  117675012  137557  77242          30918
2          80381047  1020411930  110848060  143955  77114          35423
3          79231435   954962863  105117642  141922  76251          32360
4          75178766   911177709  101732933  134626  74116          30176
5          77398805   980555941  108384820  138633  72152          31767
6          80429860   846317735   95103854  144052      0           2719
7           2061951    29551433    5179426    3593      0             82

In [38]:
sales0.groupby("DayOfWeek").sum()

              Store  Sales  Customers  Open  Promo  SchoolHoliday
DayOfWeek
1           4006646      0          0     3    518           3142
2            963241      0          3     6    466           1172
3           2113841      0          0    14   1329           2276
4           6264572      0          5    18   3464           4571
5           4044533      0          0     7   5428           4468
6            391308      0          0     6      0              5
7          78759217      0          0     0      0           2642

In [39]:
val

NameError: name 'val' is not defined