# Rossmann Store Sales Forecast Using Deep Learning

![Rossmann](images/photo.png)

The objective of this notebook is to forecast sales using store, promotion, and competitor data using deep neural network and explain the process to the C-Suite inin layman's terms. The data was obtained from [Kaggle](https://www.kaggle.com/c/rossmann-store-sales/data).

This notebook is also available at https://git.io/v5oCA.

## Introduction

Rossmann operates over 3,000 drug stores in 7 European countries. Currently, Rossmann store managers are tasked with predicting their daily sales for up to six weeks in advance. Store sales are influenced by many factors, including promotions, competition, school and state holidays, seasonality, and locality. With thousands of individual managers predicting sales based on their unique circumstances, the accuracy of results can be quite varied.

The objective of this project is to predict daily sales for 1,115 stores located across Germany. Reliable sales forecasts enable store managers to create effective staff schedules that increase productivity and motivation. By creating a robust prediction model, store managers can stay focused on their customers and their teams.

The developed model achieved high accuracy with Root Mean Squared Percentage Error (RMSPE) 0.23. The formula is:

$$
\textrm{RMSE} = \sqrt{\frac{1}{n} \sum_{i=1}^{n} \left(\frac{\hat{y}_i - y_i}{y_i}\right)^2}
$$

where:

- $\hat{y}_i$ is the actual sales of one store on a particular day
- $y_i$ is the corresponding sales predicted by the model
- $n$ is the number of predictions made

Below is a high-level overview of the steps taken to develop such robust model:
1. Transform the raw data into format which is accepted by the machine learning algorithm.
2. Build a predictive model by feeding the transformed data to the algorithm.
3. Use a seperate set of raw data to evaluate the performnace of the derived model.

In particular, the model we uses is deep nerual network, which is also called deep learning and is the underlying model of cutting-edge applications like Siri and AlphaGo. A simplified illustration of an nerual network:

![a simplified illustration of neural network](images/neural_network.png)

## Setup the environment

Import the modules to be used by this notebook:

In [1]:
import math, keras, datetime, pandas as pd, numpy as np, keras.backend as K
import matplotlib.pyplot as plt, operator, random, pickle
# from utils2 import *
from isoweek import Week
from pandas_summary import DataFrameSummary
from IPython.display import SVG
from numpy import mean, sqrt, square, arange

Using TensorFlow backend.

Set the preferred options:

In [2]:
np.set_printoptions(threshold=50, edgeitems=20)

## Import dataset

The following tables are available in the datasets:

| Table        | Table Description                                                                                               |
|--------------|-----------------------------------------------------------------------------------------------------------------|
| train        | training set: store information on a daily basis, tracking things like sales, customers, whether that day was a holiday, etc. |
| store        | general information about the store including competition, etc.                                                 |
| store_states | maps store to state it is in                                                                                    |
| state_names  | maps state abbreviations to names                                                                               |
| googletrend  | trend data for particular week/state                                                                            |
| weather      | weather conditions for each state                                                                               |

Import the tables to the environemnts:

In [3]:
PATH = 'dataset/rossmann/'

In [4]:
table_names = ['train', 'store', 'store_states', 'state_names', 'googletrend', 'weather']
train, store, store_states, state_names, googletrend, weather = [pd.read_csv(PATH + fname+'.csv', 
                                                                             low_memory=False) for fname in table_names]

Display the first 5 rows and statsitics of each table to get a quick understanding of the dataset:

In [5]:
display(train.head())
display(DataFrameSummary(train).summary())

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
count,1.01721e+06,1.01721e+06,NaN,1.01721e+06,1.01721e+06,1.01721e+06,1.01721e+06,NaN,1.01721e+06
mean,558.43,3.99834,NaN,5773.82,633.146,0.830107,0.381515,NaN,0.178647
std,321.909,1.99739,NaN,3849.93,464.412,0.375539,0.485759,NaN,0.383056
min,1,1,NaN,0,0,0,0,NaN,0
25%,280,2,NaN,3727,405,1,0,NaN,0
50%,558,4,NaN,5744,609,1,0,NaN,0
75%,838,6,NaN,7856,837,1,1,NaN,0
max,1115,7,NaN,41551,7388,1,1,NaN,1
counts,1017209,1017209,1017209,1017209,1017209,1017209,1017209,1017209,1017209
uniques,1115,7,942,21734,4086,2,2,4,2
missing,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,numeric,numeric,categorical,numeric,numeric,bool,bool,categorical,bool

In [6]:
display(store.head())
display(DataFrameSummary(store).summary())

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
count,1115,NaN,NaN,1112,761,761,1115,571,571,NaN
mean,558,NaN,NaN,5404.9,7.2247,2008.67,0.512108,23.5954,2011.76,NaN
std,322.017,NaN,NaN,7663.17,3.21235,6.19598,0.500078,14.142,1.67494,NaN
min,1,NaN,NaN,20,1,1900,0,1,2009,NaN
25%,279.5,NaN,NaN,717.5,4,2006,0,13,2011,NaN
50%,558,NaN,NaN,2325,8,2010,1,22,2012,NaN
75%,836.5,NaN,NaN,6882.5,10,2013,1,37,2013,NaN
max,1115,NaN,NaN,75860,12,2015,1,50,2015,NaN
counts,1115,1115,1115,1112,761,761,1115,571,571,571
uniques,1115,4,3,654,12,23,2,24,7,3
missing,0,0,0,3,354,354,0,544,544,544
missing_perc,0%,0%,0%,0.27%,31.75%,31.75%,0%,48.79%,48.79%,48.79%
types,numeric,categorical,categorical,numeric,numeric,numeric,bool,numeric,numeric,categorical

In [7]:
display(store_states.head())
display(DataFrameSummary(store_states).summary())

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

                Store        State
count            1115          NaN
mean              558          NaN
std           322.017          NaN
min                 1          NaN
25%             279.5          NaN
50%               558          NaN
75%             836.5          NaN
max              1115          NaN
counts           1115         1115
uniques          1115           12
missing             0            0
missing_perc       0%           0%
types         numeric  categorical

In [8]:
display(state_names.head())
display(DataFrameSummary(state_names).summary())

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

             StateName   State
count               16      16
unique              16      16
top             Hessen      BE
freq                 1       1
counts              16      16
uniques             16      16
missing              0       0
missing_perc        0%      0%
types           unique  unique

This is very representative of a typical industry dataset.

The following returns summarized aggregate information to each table accross each field.

In [9]:
display(googletrend.head())
display(DataFrameSummary(googletrend).summary())

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

                     file         week    trend
count                 NaN          NaN     2072
mean                  NaN          NaN  63.8142
std                   NaN          NaN  12.6502
min                   NaN          NaN        0
25%                   NaN          NaN       55
50%                   NaN          NaN       64
75%                   NaN          NaN       72
max                   NaN          NaN      100
counts               2072         2072     2072
uniques                14          148       68
missing                 0            0        0
missing_perc           0%           0%       0%
types         categorical  categorical  numeric

In [10]:
display(weather.head())
display(DataFrameSummary(weather).summary())

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,NaN,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,NaN,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,NaN,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,NaN,0.00,7.0,Rain,268

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
count,NaN,NaN,15840,15840,15840,15840,15840,15840,15840,15840,...,15459,15459,15459,15840,15840,3604,15840,14667,NaN,15840
mean,NaN,NaN,14.6441,10.389,6.19899,8.58782,6.20581,3.62614,93.6596,74.2829,...,24.0576,12.2398,7.02516,22.7666,11.9722,48.8643,0.831718,5.55131,NaN,175.897
std,NaN,NaN,8.64601,7.37926,6.52639,6.24478,6.08677,6.12839,7.67853,13.4866,...,8.9768,5.06794,4.9806,8.98862,5.87284,13.027,2.51351,1.68771,NaN,101.589
min,NaN,NaN,-11,-13,-15,-14,-15,-73,44,30,...,0,0,0,3,2,21,0,0,NaN,-1
25%,NaN,NaN,8,4,1,4,2,-1,90.75,65,...,14,10,3,16,8,39,0,5,NaN,80
50%,NaN,NaN,15,11,7,9,7,4,94,76,...,31,11,7,21,11,48,0,6,NaN,202
75%,NaN,NaN,21,16,11,13,11,8,100,85,...,31,14,10,27,14,55,0.25,7,NaN,256
max,NaN,NaN,39,31,24,25,20,19,100,100,...,31,31,31,101,53,111,58.93,8,NaN,360
counts,15840,15840,15840,15840,15840,15840,15840,15840,15840,15840,...,15459,15459,15459,15840,15840,3604,15840,14667,11889,15840
uniques,16,990,51,45,40,40,36,40,53,71,...,24,32,24,44,29,47,41,9,21,362
missing,0,0,0,0,0,0,0,0,0,0,...,381,381,381,0,0,12236,0,1173,3951,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,...,2.41%,2.41%,2.41%,0%,0%,77.25%,0%,7.41%,24.94%,0%
types,categorical,categorical,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,...,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,categorical,numeric

Most of the fields are self-explanatory. The following are descriptions for those that aren't.

- `Customers`: the number of customers on a given day
- `Open`: an indicator for whether the store was open: 0 = closed, 1 = open
- `StateHoliday`: indicates a state holiday. Normally all stores, with few exceptions, are closed on state holidays. Note that all schools are closed on public holidays and weekends. a = public holiday, b = Easter holiday, c = Christmas, 0 = None
- `SchoolHoliday`: indicates if the (Store, Date) was affected by the closure of public schools
- `StoreType`: differentiates between 4 different store models: a, b, c, d
- `Assortment`: describes an assortment level: a = basic, b = extra, c = extended
- `CompetitionDistance`: distance in meters to the nearest competitor store
- `CompetitionOpenSince[Month/Year]`: gives the approximate year and month of the time the nearest competitor was opened
- `Promo`: indicates whether a store is running a promo on that day
- `Promo2`: Promo2 is a continuing and consecutive promotion for some stores: 0 = store is not participating, 1 = store is participating
- `Promo2Since[Year/Week]`: describes the year and calendar week when the store started participating in Promo2
- `PromoInterval`: describes the consecutive intervals Promo2 is started, naming the months the promotion is started anew. E.g. "Feb,May,Aug,Nov" means each round starts in February, May, August, November of any given year for that store

## Data Cleaning / Feature Engineering

Data cleaning is the process of transforming the data into formats that the model can understand.

Feature engineering is the process of using domain knowledge of the data to create features (columns) that make machine learning algorithms work. More meaningful features (field) make it easier to "learn". For example, we will create a field / column called "CompetitionOpenSince" and "CompetitionDaysOpen" using raw columns.

Turn state Holidays to Boolean:

In [11]:
train.StateHoliday = train.StateHoliday!='0'

Join weather/state names into a single table.

In [12]:
def join_df(left, right, left_on, right_on=None):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", "_y"))
weather = join_df(weather, state_names, "file", "StateName")

Extracting dates and state names from the given data and adding those columns.

Replace all instances of state name 'NI' with the usage in the rest of the table, 'HB,NI'.

In [13]:
googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]
googletrend['State'] = googletrend.file.str.split('_', expand=True)[2]
googletrend.loc[googletrend.State=='NI', "State"] = 'HB,NI'

The following extracts particular date fields from a complete datetime for the purpose of constructing categoricals.
Without expanding your date-time into these additional fields, you can't capture any trend/cyclical behavior as a function of time at any of these granularities.
We'll add to every table w/ a date field.

In [14]:
def add_datepart(df):
    df.Date = pd.to_datetime(df.Date)
    df["Year"] = df.Date.dt.year
    df["Month"] = df.Date.dt.month
    df["Week"] = df.Date.dt.week
    df["Day"] = df.Date.dt.day
add_datepart(weather)
add_datepart(googletrend)
add_datepart(train)

In [15]:
trend_de = googletrend[googletrend.file == 'Rossmann_DE']

Now we can outer join all of our data into a single dataframe.

In [16]:
store = join_df(store, store_states, "Store")
len(store[store.State.isnull()])

0

In [17]:
joined = join_df(train, store, "Store")
len(joined[joined.StoreType.isnull()])

0

In [18]:
joined = join_df(joined, googletrend, ["State","Year", "Week"])
len(joined[joined.trend.isnull()])

0

In [19]:
joined = joined.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
len(joined[joined.trend_DE.isnull()])

0

In [20]:
joined = join_df(joined, weather, ["State","Date"])
len(joined[joined.Mean_TemperatureC.isnull()])

0

Next we'll fill in missing values to avoid complications w/ na's.

In [21]:
joined.CompetitionOpenSinceYear = joined.CompetitionOpenSinceYear.fillna(1900).astype(np.int32)
joined.CompetitionOpenSinceMonth = joined.CompetitionOpenSinceMonth.fillna(1).astype(np.int32)
joined.Promo2SinceYear = joined.Promo2SinceYear.fillna(1900).astype(np.int32)
joined.Promo2SinceWeek = joined.Promo2SinceWeek.fillna(1).astype(np.int32)

Next we'll extract features "CompetitionOpenSince" and "CompetitionDaysOpen". Note the use of `apply()` in mapping a function across dataframe values.

In [22]:
joined["CompetitionOpenSince"] = pd.to_datetime(joined.apply(lambda x: datetime.datetime(
    x.CompetitionOpenSinceYear, x.CompetitionOpenSinceMonth, 15), axis=1))

In [23]:
joined["CompetitionDaysOpen"] = joined.Date.subtract(joined["CompetitionOpenSince"]).dt.days

We'll replace some erroneous / outlying data.

In [24]:
joined.loc[joined.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
joined.loc[joined.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"] = 0

Added "CompetitionMonthsOpen" field, limit the maximum to 2 years to limit number of unique embeddings.

In [25]:
joined["CompetitionMonthsOpen"] = joined["CompetitionDaysOpen"]//30
joined.loc[joined.CompetitionMonthsOpen>24, "CompetitionMonthsOpen"] = 24
joined.CompetitionMonthsOpen.unique()

array([24,  3, 19,  9,  0, 16, 17,  7, 15, 22, 11, 13,  2, 23, 12,  4, 10,
        1, 14, 20,  8, 18,  6, 21,  5])

Same process for Promo dates.

In [26]:
joined["Promo2Since"] = pd.to_datetime(joined.apply(lambda x: Week(
    x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1))
joined["Promo2Days"] = joined.Date.subtract(joined["Promo2Since"]).dt.days

In [27]:
joined.loc[joined.Promo2Days<0, "Promo2Days"] = 0
joined.loc[joined.Promo2SinceYear<1990, "Promo2Days"] = 0

In [28]:
joined["Promo2Weeks"] = joined["Promo2Days"]//7
joined.loc[joined.Promo2Weeks<0, "Promo2Weeks"] = 0
joined.loc[joined.Promo2Weeks>25, "Promo2Weeks"] = 25
joined.Promo2Weeks.unique()

array([ 0, 25, 17,  8, 13, 24, 16,  7, 12, 23, 15,  6, 11, 22, 14,  5, 10,
       21,  4,  9, 20,  3, 19,  2, 18,  1])

In [29]:
joined.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
       'week', 'trend', 'Date_y', 'Month_y', 'Day_y', 'file_DE', 'week_DE',
       'trend_DE', 'Date_DE', 'State_DE', 'Month_DE', 'Day_DE', 'file_y',
       'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
       'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC', 'Max_Humidity',
       'Mean_Humidity', 'Min_Humidity', 'Max_Sea_Level_PressurehPa',
       'Mean_Sea_Level_PressurehPa', 'Min_Sea_Level_PressurehPa',
       'Max_VisibilityKm', 'Mean_VisibilityKm', 'Min_VisibilitykM',
       'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'Max_Gust_SpeedKm_h',
       'Precipitationmm', 'CloudCover', 'Events', 'WindDirDegrees',
       'StateName', 'Year_y', 'Month_y', 'Week_y', 'Day_y',
       'CompetitionOpenSince', 'CompetitionDaysOpen', 'CompetitionMonthsOpen',
       'Promo2Since', 'Promo2Days', 'Promo2Weeks'],
      dtype='object')

In [31]:
joined.columns.value_counts()

Month_y                       2
Day_y                         2
Assortment                    1
Min_Humidity                  1
StateHoliday                  1
Date_y                        1
Mean_Sea_Level_PressurehPa    1
Mean_Humidity                 1
Min_TemperatureC              1
Promo2SinceYear               1
Mean_TemperatureC             1
Promo2Days                    1
Mean_Wind_SpeedKm_h           1
Max_Sea_Level_PressurehPa     1
Max_VisibilityKm              1
SchoolHoliday                 1
CloudCover                    1
CompetitionDaysOpen           1
Dew_PointC                    1
week_DE                       1
Open                          1
Mean_VisibilityKm             1
file_DE                       1
Max_Humidity                  1
PromoInterval                 1
file_y                        1
Month_DE                      1
Min_VisibilitykM              1
Week                          1
trend                         1
                             ..
MeanDew_PointC                1
Max_Wind_SpeedKm_h            1
Promo2Since                   1
Store                         1
State_DE                      1
Promo                         1
CompetitionOpenSince          1
CompetitionOpenSinceYear      1
CompetitionDistance           1
Promo2                        1
Promo2Weeks                   1
Week_y                        1
Min_Sea_Level_PressurehPa     1
file                          1
Events                        1
Promo2SinceWeek               1
StoreType                     1
CompetitionOpenSinceMonth     1
StateName                     1
trend_DE                      1
Max_TemperatureC              1
Date_DE                       1
Min_DewpointC                 1
CompetitionMonthsOpen         1
Month                         1
Customers                     1
Max_Gust_SpeedKm_h            1
Day_DE                        1
Date                          1
WindDirDegrees                1
Length: 68, dtype: int64

## Durations

It is common when working with time series data to extract data that explains relationships across rows as opposed to columns, e.g.:
* Running averages
* Time until next event
* Time since last event

This is often difficult to do with most table manipulation frameworks, since they are designed to work with relationships across columns. As such, we've created a class to handle this type of data.

In [29]:
columns = ["Date", "Store", "Promo", "StateHoliday", "SchoolHoliday"]

We've defined a class `elapsed` for cumulative counting across a sorted dataframe.

Given a particular field `fld` to monitor, this object will start tracking time since the last occurrence of that field. When the field is seen again, the counter is set to zero.

Upon initialization, this will result in datetime na's until the field is encountered. This is reset every time a new store is seen.

In [30]:
class elapsed(object):
    def __init__(self, fld):
        self.fld = fld
        self.last = pd.to_datetime(np.nan)
        self.last_store = 0
        
    def get(self, row):
        if row.Store != self.last_store:
            self.last = pd.to_datetime(np.nan)
            self.last_store = row.Store
        if (row[self.fld]): self.last = row.Date
        return row.Date-self.last

In [31]:
df = train[columns]

And a function for applying said class across dataframe rows and adding values to a new column.

In [32]:
def add_elapsed(fld, prefix):
    sh_el = elapsed(fld)
    df[prefix+fld] = df.apply(sh_el.get, axis=1)

Let's walk through an example.

Say we're looking at School Holiday. We'll first sort by Store, then Date, and then call `add_elapsed('SchoolHoliday', 'After')`:
This will generate an instance of the `elapsed` class for School Holiday:
* Instance applied to every row of the dataframe in order of store and date
* Will add to the dataframe the days since seeing a School Holiday
* If we sort in the other direction, this will count the days until another promotion.

In [33]:
fld = 'SchoolHoliday'
df = df.sort_values(['Store', 'Date'])
add_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
add_elapsed(fld, 'Before')

We'll do this for two more fields.

In [34]:
fld = 'StateHoliday'
df = df.sort_values(['Store', 'Date'])
add_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
add_elapsed(fld, 'Before')

In [35]:
fld = 'Promo'
df = df.sort_values(['Store', 'Date'])
add_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
add_elapsed(fld, 'Before')

We're going to set the active index to Date.

In [36]:
df = df.set_index("Date")

Then set null values from elapsed field calculations to 0.

In [37]:
columns = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [38]:
for o in ['Before', 'After']:
    for p in columns:
        a = o+p
        df[a] = df[a].fillna(pd.Timedelta(0)).dt.days

Next we'll demonstrate window functions in pandas to calculate rolling quantities.

Here we're sorting by date (`sort_index()`) and counting the number of events of interest (`sum()`) defined in `columns` in the following week (`rolling()`), grouped by Store (`groupby()`). We do the same in the opposite direction.

In [39]:
bwd = df[['Store']+columns].sort_index().groupby("Store").rolling(7, min_periods=1).sum()

In [40]:
fwd = df[['Store']+columns].sort_index(ascending=False
                                      ).groupby("Store").rolling(7, min_periods=1).sum()

In [ ]:
# bwd

Next we want to drop the Store indices grouped together in the window function.

Often in pandas, there is an option to do this in place. This is time and memory efficient when working with large datasets.

In [42]:
bwd.drop('Store',1,inplace=True)
bwd.reset_index(inplace=True)

In [43]:
bwd

         Store       Date  SchoolHoliday  StateHoliday  Promo
0            1 2013-01-01            1.0           1.0    0.0
1            1 2013-01-02            2.0           1.0    0.0
2            1 2013-01-03            3.0           1.0    0.0
3            1 2013-01-04            4.0           1.0    0.0
4            1 2013-01-05            5.0           1.0    0.0
5            1 2013-01-06            6.0           1.0    0.0
6            1 2013-01-07            7.0           1.0    1.0
7            1 2013-01-08            7.0           0.0    2.0
8            1 2013-01-09            7.0           0.0    3.0
9            1 2013-01-10            7.0           0.0    4.0
10           1 2013-01-11            7.0           0.0    5.0
11           1 2013-01-12            6.0           0.0    5.0
12           1 2013-01-13            5.0           0.0    5.0
13           1 2013-01-14            4.0           0.0    4.0
14           1 2013-01-15            3.0           0.0    3.0
15           1 2013-01-16            2.0           0.0    2.0
16           1 2013-01-17            1.0           0.0    1.0
17           1 2013-01-18            0.0           0.0    0.0
18           1 2013-01-19            0.0           0.0    0.0
19           1 2013-01-20            0.0           0.0    0.0
20           1 2013-01-21            0.0           0.0    1.0
21           1 2013-01-22            0.0           0.0    2.0
22           1 2013-01-23            0.0           0.0    3.0
23           1 2013-01-24            0.0           0.0    4.0
24           1 2013-01-25            0.0           0.0    5.0
25           1 2013-01-26            0.0           0.0    5.0
26           1 2013-01-27            0.0           0.0    5.0
27           1 2013-01-28            0.0           0.0    4.0
28           1 2013-01-29            0.0           0.0    3.0
29           1 2013-01-30            0.0           0.0    2.0
...        ...        ...            ...           ...    ...
1017179   1115 2015-07-02            0.0           0.0    4.0
1017180   1115 2015-07-03            0.0           0.0    5.0
1017181   1115 2015-07-04            0.0           0.0    5.0
1017182   1115 2015-07-05            0.0           0.0    5.0
1017183   1115 2015-07-06            0.0           0.0    4.0
1017184   1115 2015-07-07            0.0           0.0    3.0
1017185   1115 2015-07-08            0.0           0.0    2.0
1017186   1115 2015-07-09            0.0           0.0    1.0
1017187   1115 2015-07-10            0.0           0.0    0.0
1017188   1115 2015-07-11            0.0           0.0    0.0
1017189   1115 2015-07-12            0.0           0.0    0.0
1017190   1115 2015-07-13            0.0           0.0    1.0
1017191   1115 2015-07-14            0.0           0.0    2.0
1017192   1115 2015-07-15            0.0           0.0    3.0
1017193   1115 2015-07-16            0.0           0.0    4.0
1017194   1115 2015-07-17            0.0           0.0    5.0
1017195   1115 2015-07-18            0.0           0.0    5.0
1017196   1115 2015-07-19            0.0           0.0    5.0
1017197   1115 2015-07-20            0.0           0.0    4.0
1017198   1115 2015-07-21            0.0           0.0    3.0
1017199   1115 2015-07-22            0.0           0.0    2.0
1017200   1115 2015-07-23            0.0           0.0    1.0
1017201   1115 2015-07-24            0.0           0.0    0.0
1017202   1115 2015-07-25            0.0           0.0    0.0
1017203   1115 2015-07-26            0.0           0.0    0.0
1017204   1115 2015-07-27            1.0           0.0    1.0
1017205   1115 2015-07-28            2.0           0.0    2.0
1017206   1115 2015-07-29            3.0           0.0    3.0
1017207   1115 2015-07-30            4.0           0.0    4.0
1017208   1115 2015-07-31            5.0           0.0    5.0

[1017209 rows x 5 columns]

In [44]:
fwd.drop('Store',1,inplace=True)
fwd.reset_index(inplace=True)

In [45]:
df.reset_index(inplace=True)

Now we'll merge these values onto the df.

In [46]:
df = df.merge(bwd, 'left', ['Date', 'Store'], suffixes=['', '_bw'])
df = df.merge(fwd, 'left', ['Date', 'Store'], suffixes=['', '_fw'])

In [47]:
df.drop(columns,1,inplace=True)

In [48]:
df.head()

,Date,Store,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_fw,Promo_fw
0,2015-07-31,1,0,0,57,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
1,2015-07-30,1,0,0,56,0,0,0,4.0,0.0,4.0,2.0,0.0,2.0
2,2015-07-29,1,0,0,55,0,0,0,3.0,0.0,3.0,3.0,0.0,3.0
3,2015-07-28,1,0,0,54,0,0,0,2.0,0.0,2.0,4.0,0.0,4.0
4,2015-07-27,1,0,0,53,0,0,0,1.0,0.0,1.0,5.0,0.0,5.0

It's usually a good idea to back up large tables of extracted / wrangled features before you join them onto another one, that way you can go back to it easily if you need to make changes to it.

In [49]:
df.to_csv('df.csv')

In [50]:
df = pd.read_csv('df.csv', index_col=0)

/home/usuario/anaconda3/envs/GPUV2/lib/python3.6/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [51]:
df["Date"] = pd.to_datetime(df.Date)

In [52]:
df.columns

Index(['Date', 'Store', 'AfterSchoolHoliday', 'BeforeSchoolHoliday',
       'AfterStateHoliday', 'BeforeStateHoliday', 'AfterPromo', 'BeforePromo',
       'SchoolHoliday_bw', 'StateHoliday_bw', 'Promo_bw', 'SchoolHoliday_fw',
       'StateHoliday_fw', 'Promo_fw'],
      dtype='object')

In [53]:
joined = join_df(joined, df, ['Store', 'Date'])

We'll back this up as well.

In [54]:
joined.to_csv('joined.csv')

We now have our final set of engineered features.

In [55]:
joined = pd.read_csv('joined.csv', index_col=0)
joined["Date"] = pd.to_datetime(joined.Date)
joined.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
       'week', 'trend', 'Date_y', 'Month_y', 'Day_y', 'file_DE', 'week_DE',
       'trend_DE', 'Date_DE', 'State_DE', 'Month_DE', 'Day_DE', 'file_y',
       'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
       'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC', 'Max_Humidity',
       'Mean_Humidity', 'Min_Humidity', 'Max_Sea_Level_PressurehPa',
       'Mean_Sea_Level_PressurehPa', 'Min_Sea_Level_PressurehPa',
       'Max_VisibilityKm', 'Mean_VisibilityKm', 'Min_VisibilitykM',
       'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'Max_Gust_SpeedKm_h',
       'Precipitationmm', 'CloudCover', 'Events', 'WindDirDegrees',
       'StateName', 'Year_y', 'Month_y.1', 'Week_y', 'Day_y.1',
       'CompetitionOpenSince', 'CompetitionDaysOpen', 'CompetitionMonthsOpen',
       'Promo2Since', 'Promo2Days', 'Promo2Weeks', 'AfterSchoolHoliday',
       'BeforeSchoolHoliday', 'AfterStateHoliday', 'BeforeStateHoliday',
       'AfterPromo', 'BeforePromo', 'SchoolHoliday_bw', 'StateHoliday_bw',
       'Promo_bw', 'SchoolHoliday_fw', 'StateHoliday_fw', 'Promo_fw'],
      dtype='object')

While these steps were explicitly outlined in the paper, these are all fairly typical feature engineering steps for dealing with time series data and are practical in any similar setting.

## Create features

Now that we've engineered all our features, we need to convert to input compatible with a neural network.

This includes converting categorical variables into contiguous integers or one-hot encodings, normalizing continuous features to standard normal, etc...

In [56]:
from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import LabelEncoder, Imputer, StandardScaler

This dictionary maps categories to embedding dimensionality. In generally, categories we might expect to be conceptually more complex have larger dimension.

In [35]:
cat_var_dict = {'Store': 50, 'DayOfWeek': 6, 'Year': 2, 'Month': 6,
'Day': 10, 'StateHoliday': 3, 'CompetitionMonthsOpen': 2,
'Promo2Weeks': 1, 'StoreType': 2, 'Assortment': 3, 'PromoInterval': 3,
'CompetitionOpenSinceYear': 4, 'Promo2SinceYear': 4, 'State': 6,
'Week': 2, 'Events': 4, 'Promo_fw': 1,
'Promo_bw': 1, 'StateHoliday_fw': 1,
'StateHoliday_bw': 1, 'SchoolHoliday_fw': 1,
'SchoolHoliday_bw': 1}

Name categorical variables

In [37]:
cat_vars = [o[0] for o in 
            sorted(cat_var_dict.items(), key=operator.itemgetter(1), reverse=True)]

Likewise for continuous

In [59]:
# mean/max wind; min temp; cloud; min/mean humid; 
contin_vars = ['CompetitionDistance', 
   'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
   'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 'Max_Wind_SpeedKm_h', 
   'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend', 'trend_DE',
   'AfterStateHoliday', 'BeforeStateHoliday', 'Promo', 'SchoolHoliday']

Replace nulls w/ 0 for continuous, "" for categorical.

In [60]:
for v in contin_vars: joined.loc[joined[v].isnull(), v] = 0
for v in cat_vars: joined.loc[joined[v].isnull(), v] = ""

Here we create a list of tuples, each containing a variable and an instance of a transformer for that variable.

For categoricals, we use a label encoder that maps categories to continuous integers. For continuous variables, we standardize them.

In [61]:
cat_maps = [(o, LabelEncoder()) for o in cat_vars]
contin_maps = [([o], StandardScaler()) for o in contin_vars]

The same instances need to be used for the test set as well, so values are mapped/standardized appropriately.

DataFrame mapper will keep track of these variable-instance mappings.

In [62]:
cat_mapper = DataFrameMapper(cat_maps)
cat_map_fit = cat_mapper.fit(joined)
cat_cols = len(cat_map_fit.features)
cat_cols

22

In [63]:
contin_mapper = DataFrameMapper(contin_maps)
contin_map_fit = contin_mapper.fit(joined)
contin_cols = len(contin_map_fit.features)
contin_cols

16

Example of first five rows of zeroth column being transformed appropriately.

In [64]:
cat_map_fit.transform(joined)[0,:5], contin_map_fit.transform(joined)[0,:5]

(array([ 0, 30,  4,  6,  4]),
 array([-0.53772351,  1.02444552,  0.81863226,  0.32504749,  0.61112004]))

We can also pickle these mappings, which is great for portability!

In [65]:
pickle.dump(contin_map_fit, open('contin_maps.pickle', 'wb'))
pickle.dump(cat_map_fit, open('cat_maps.pickle', 'wb'))

In [66]:
[len(o[1].classes_) for o in cat_map_fit.features]

[1115, 31, 7, 12, 12, 23, 8, 22, 2, 3, 4, 3, 25, 4, 52, 26, 6, 6, 3, 3, 8, 8]

## Sample data

Next, the authors removed all instances where the store had zero sale / was closed.

In [67]:
joined_sales = joined[joined.Sales!=0]
n = len(joined_sales)

We speculate that this may have cost them a higher standing in the competition. One reason this may be the case is that a little EDA reveals that there are often periods where stores are closed, typically for refurbishment. Before and after these periods, there are naturally spikes in sales that one might expect. Be ommitting this data from their training, the authors gave up the ability to leverage information about these periods to predict this otherwise volatile behavior.

In [68]:
n

844338

We're going to run on a sample.

In [ ]:
samp_size = 100000
np.random.seed(42)
idxs = sorted(np.random.choice(n, samp_size, replace=False))

In [ ]:
joined_samp = joined_sales.iloc[idxs].set_index("Date")

In [ ]:
samp_size = n
joined_samp = joined_sales.set_index("Date")

In time series data, cross-validation is not random. Instead, our holdout data is always the most recent data, as it would be in real application.

We've taken the last 10% as our validation set.

In [ ]:
train_ratio = 0.9
train_size = int(samp_size * train_ratio)

In [ ]:
train_size

759904

In [ ]:
joined_valid = joined_samp[train_size:]
joined_train = joined_samp[:train_size]
len(joined_valid), len(joined_train)

(84434, 759904)

Here's a preprocessor for our categoricals using our instance mapper.

In [ ]:
def cat_preproc(dat):
    return cat_map_fit.transform(dat).astype(np.int64)

In [ ]:
cat_map_train = cat_preproc(joined_train)
cat_map_valid = cat_preproc(joined_valid)

Same for continuous.

In [ ]:
def contin_preproc(dat):
    return contin_map_fit.transform(dat).astype(np.float32)

In [ ]:
contin_map_train = contin_preproc(joined_train)
contin_map_valid = contin_preproc(joined_valid)

Grab our targets.

In [ ]:
y_train_orig = joined_train.Sales
y_valid_orig = joined_valid.Sales

Finally, the authors modified the target values by applying a logarithmic transformation and normalizing to unit scale by dividing by the maximum log value.

Log transformations are used on this type of data frequently to attain a nicer shape. 

Further by scaling to the unit interval we can now use a sigmoid output in our neural network. Then we can multiply by the maximum log value to get the original log value and transform back.

In [ ]:
max_log_y = np.max(np.log(joined_samp.Sales))
y_train = np.log(y_train_orig)/max_log_y
y_valid = np.log(y_valid_orig)/max_log_y

Note: Some testing shows this doesn't make a big difference.

Root-mean-squared percent error is the metric Kaggle used for this competition.

These undo the target transformations.

## Create models

Now we're ready to put together our models.

In [ ]:
def split_cols(arr): return np.hsplit(arr,arr.shape[1])

In [ ]:
map_train = split_cols(cat_map_train) + [contin_map_train]
map_valid = split_cols(cat_map_valid) + [contin_map_valid]

Helper function for getting categorical name and dim.

In [ ]:
def cat_map_info(feat): return feat[0], len(feat[1].classes_)

For example the dimension of the feature `Day` is 31:

In [ ]:
cat_map_info(cat_map_fit.features[1])

('Day', 31)

In [ ]:
def my_init(scale):
    return lambda shape, name=None: initializations.uniform(shape, scale=scale, name=name)

In [ ]:
def emb_init(shape, name=None): 
    return initializations.uniform()

Helper function for constructing embeddings.

Also, note we're flattening the embedding. Embeddings in Keras come out as an element of a sequence like we might use in a sequence of words; here we just want to concatenate them so we flatten the 1-vector sequence into a vector.

In [ ]:
def get_emb(feat):
    name, c = cat_map_info(feat)
    c2 = (c+1)//2
    if c2>50: c2=50
    inp = Input((1,), dtype='int64', name=name+'_in')
    u = Flatten(name=name+'_flt')(Embedding(c, c2, input_length=1)(inp))
    return inp,u

Helper function for continuous inputs.

In [ ]:
def get_contin(feat):
    name = feat[0][0]
    inp = Input((1,), name=name+'_in')
    return inp, Dense(1, name=name+'_d', init=my_init(1.))(inp)

Let's build them.

In [ ]:
from keras.layers import Input, Dense, Flatten, Embedding, merge, Dropout
from keras import initializers as initializations
from keras.models import Model

In [ ]:
contin_inp = Input((contin_cols,), name='contin')
contin_out = Dense(contin_cols*10, activation='relu', name='contin_d')(contin_inp)

WARNING:tensorflow:From /home/usuario/anaconda3/envs/GPUV2/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

Now we can put them together. Given the inputs, continuous and categorical embeddings, we're going to concatenate all of them.

Next, we're going to pass through some dropout, then two dense layers w/ ReLU activations, then dropout again, then the sigmoid activation we mentioned earlier.

In [ ]:
def root_mean_squared_error(y_true, y_pred):
    return K.sqrt(K.mean(K.square(y_pred - y_true), axis=-1))

In [ ]:
cat_map_fit.features

[('Store', LabelEncoder()),
 ('Day', LabelEncoder()),
 ('DayOfWeek', LabelEncoder()),
 ('Month', LabelEncoder()),
 ('State', LabelEncoder()),
 ('CompetitionOpenSinceYear', LabelEncoder()),
 ('Promo2SinceYear', LabelEncoder()),
 ('Events', LabelEncoder()),
 ('StateHoliday', LabelEncoder()),
 ('Assortment', LabelEncoder()),
 ('PromoInterval', LabelEncoder()),
 ('Year', LabelEncoder()),
 ('CompetitionMonthsOpen', LabelEncoder()),
 ('StoreType', LabelEncoder()),
 ('Week', LabelEncoder()),
 ('Promo2Weeks', LabelEncoder()),
 ('Promo_fw', LabelEncoder()),
 ('Promo_bw', LabelEncoder()),
 ('StateHoliday_fw', LabelEncoder()),
 ('StateHoliday_bw', LabelEncoder()),
 ('SchoolHoliday_fw', LabelEncoder()),
 ('SchoolHoliday_bw', LabelEncoder())]

In [ ]:
embs = [get_emb(feat) for feat in cat_map_fit.features]
x = merge.Concatenate()([emb for inp,emb in embs] + [contin_out])
x = Dropout(0.02)(x)
x = Dense(1000, activation='relu', kernel_initializer='uniform')(x)
x = Dense(500, activation='relu', kernel_initializer='uniform')(x)
x = Dropout(0.2)(x)
x = Dense(1, activation='sigmoid')(x)

model = Model([inp for inp,emb in embs] + [contin_inp], x)
# model.compile(optimizer = "adam", loss = 'mean_squared_error')
model.compile(optimizer = "adam", loss = 'mean_absolute_error')

WARNING:tensorflow:From /home/usuario/anaconda3/envs/GPUV2/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [ ]:
model.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
Store_in (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
Day_in (InputLayer)             (None, 1)            0
__________________________________________________________________________________________________
DayOfWeek_in (InputLayer)       (None, 1)            0
__________________________________________________________________________________________________
Month_in (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
State_in (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
CompetitionOpenSinceYear_in (In (None, 1)            0
__________________________________________________________________________________________________
Promo2SinceYear_in (InputLayer) (None, 1)            0
__________________________________________________________________________________________________
Events_in (InputLayer)          (None, 1)            0
__________________________________________________________________________________________________
StateHoliday_in (InputLayer)    (None, 1)            0
__________________________________________________________________________________________________
Assortment_in (InputLayer)      (None, 1)            0
__________________________________________________________________________________________________
PromoInterval_in (InputLayer)   (None, 1)            0
__________________________________________________________________________________________________
Year_in (InputLayer)            (None, 1)            0
__________________________________________________________________________________________________
CompetitionMonthsOpen_in (Input (None, 1)            0
__________________________________________________________________________________________________
StoreType_in (InputLayer)       (None, 1)            0
__________________________________________________________________________________________________
Week_in (InputLayer)            (None, 1)            0
__________________________________________________________________________________________________
Promo2Weeks_in (InputLayer)     (None, 1)            0
__________________________________________________________________________________________________
Promo_fw_in (InputLayer)        (None, 1)            0
__________________________________________________________________________________________________
Promo_bw_in (InputLayer)        (None, 1)            0
__________________________________________________________________________________________________
StateHoliday_fw_in (InputLayer) (None, 1)            0
__________________________________________________________________________________________________
StateHoliday_bw_in (InputLayer) (None, 1)            0
__________________________________________________________________________________________________
SchoolHoliday_fw_in (InputLayer (None, 1)            0
__________________________________________________________________________________________________
SchoolHoliday_bw_in (InputLayer (None, 1)            0
__________________________________________________________________________________________________
embedding_1 (Embedding)         (None, 1, 50)        55750       Store_in[0][0]
__________________________________________________________________________________________________
embedding_2 (Embedding)         (None, 1, 16)        496         Day_in[0][0]
__________________________________________________________________________________________________
embedding_3 (Embedding)         (None, 1, 4)         28          DayOfWeek_in[0][0]
__________________________________________________________________________________________________
embedding_4 (Embedding)         (None, 1, 6)         72          Month_in[0][0]
__________________________________________________________________________________________________
embedding_5 (Embedding)         (None, 1, 6)         72          State_in[0][0]
__________________________________________________________________________________________________
embedding_6 (Embedding)         (None, 1, 12)        276         CompetitionOpenSinceYear_in[0][0]
__________________________________________________________________________________________________
embedding_7 (Embedding)         (None, 1, 4)         32          Promo2SinceYear_in[0][0]
__________________________________________________________________________________________________
embedding_8 (Embedding)         (None, 1, 11)        242         Events_in[0][0]
__________________________________________________________________________________________________
embedding_9 (Embedding)         (None, 1, 1)         2           StateHoliday_in[0][0]
__________________________________________________________________________________________________
embedding_10 (Embedding)        (None, 1, 2)         6           Assortment_in[0][0]
__________________________________________________________________________________________________
embedding_11 (Embedding)        (None, 1, 2)         8           PromoInterval_in[0][0]
__________________________________________________________________________________________________
embedding_12 (Embedding)        (None, 1, 2)         6           Year_in[0][0]
__________________________________________________________________________________________________
embedding_13 (Embedding)        (None, 1, 13)        325         CompetitionMonthsOpen_in[0][0]
__________________________________________________________________________________________________
embedding_14 (Embedding)        (None, 1, 2)         8           StoreType_in[0][0]
__________________________________________________________________________________________________
embedding_15 (Embedding)        (None, 1, 26)        1352        Week_in[0][0]
__________________________________________________________________________________________________
embedding_16 (Embedding)        (None, 1, 13)        338         Promo2Weeks_in[0][0]
__________________________________________________________________________________________________
embedding_17 (Embedding)        (None, 1, 3)         18          Promo_fw_in[0][0]
__________________________________________________________________________________________________
embedding_18 (Embedding)        (None, 1, 3)         18          Promo_bw_in[0][0]
__________________________________________________________________________________________________
embedding_19 (Embedding)        (None, 1, 2)         6           StateHoliday_fw_in[0][0]
__________________________________________________________________________________________________
embedding_20 (Embedding)        (None, 1, 2)         6           StateHoliday_bw_in[0][0]
__________________________________________________________________________________________________
embedding_21 (Embedding)        (None, 1, 4)         32          SchoolHoliday_fw_in[0][0]
__________________________________________________________________________________________________
embedding_22 (Embedding)        (None, 1, 4)         32          SchoolHoliday_bw_in[0][0]
__________________________________________________________________________________________________
contin (InputLayer)             (None, 16)           0
__________________________________________________________________________________________________
Store_flt (Flatten)             (None, 50)           0           embedding_1[0][0]
__________________________________________________________________________________________________
Day_flt (Flatten)               (None, 16)           0           embedding_2[0][0]
__________________________________________________________________________________________________
DayOfWeek_flt (Flatten)         (None, 4)            0           embedding_3[0][0]
__________________________________________________________________________________________________
Month_flt (Flatten)             (None, 6)            0           embedding_4[0][0]
__________________________________________________________________________________________________
State_flt (Flatten)             (None, 6)            0           embedding_5[0][0]
__________________________________________________________________________________________________
CompetitionOpenSinceYear_flt (F (None, 12)           0           embedding_6[0][0]
__________________________________________________________________________________________________
Promo2SinceYear_flt (Flatten)   (None, 4)            0           embedding_7[0][0]
__________________________________________________________________________________________________
Events_flt (Flatten)            (None, 11)           0           embedding_8[0][0]
__________________________________________________________________________________________________
StateHoliday_flt (Flatten)      (None, 1)            0           embedding_9[0][0]
__________________________________________________________________________________________________
Assortment_flt (Flatten)        (None, 2)            0           embedding_10[0][0]
__________________________________________________________________________________________________
PromoInterval_flt (Flatten)     (None, 2)            0           embedding_11[0][0]
__________________________________________________________________________________________________
Year_flt (Flatten)              (None, 2)            0           embedding_12[0][0]
__________________________________________________________________________________________________
CompetitionMonthsOpen_flt (Flat (None, 13)           0           embedding_13[0][0]
__________________________________________________________________________________________________
StoreType_flt (Flatten)         (None, 2)            0           embedding_14[0][0]
__________________________________________________________________________________________________
Week_flt (Flatten)              (None, 26)           0           embedding_15[0][0]
__________________________________________________________________________________________________
Promo2Weeks_flt (Flatten)       (None, 13)           0           embedding_16[0][0]
__________________________________________________________________________________________________
Promo_fw_flt (Flatten)          (None, 3)            0           embedding_17[0][0]
__________________________________________________________________________________________________
Promo_bw_flt (Flatten)          (None, 3)            0           embedding_18[0][0]
__________________________________________________________________________________________________
StateHoliday_fw_flt (Flatten)   (None, 2)            0           embedding_19[0][0]
__________________________________________________________________________________________________
StateHoliday_bw_flt (Flatten)   (None, 2)            0           embedding_20[0][0]
__________________________________________________________________________________________________
SchoolHoliday_fw_flt (Flatten)  (None, 4)            0           embedding_21[0][0]
__________________________________________________________________________________________________
SchoolHoliday_bw_flt (Flatten)  (None, 4)            0           embedding_22[0][0]
__________________________________________________________________________________________________
contin_d (Dense)                (None, 160)          2720        contin[0][0]
__________________________________________________________________________________________________
concatenate_1 (Concatenate)     (None, 348)          0           Store_flt[0][0]
                                                                 Day_flt[0][0]
                                                                 DayOfWeek_flt[0][0]
                                                                 Month_flt[0][0]
                                                                 State_flt[0][0]
                                                                 CompetitionOpenSinceYear_flt[0][0
                                                                 Promo2SinceYear_flt[0][0]
                                                                 Events_flt[0][0]
                                                                 StateHoliday_flt[0][0]
                                                                 Assortment_flt[0][0]
                                                                 PromoInterval_flt[0][0]
                                                                 Year_flt[0][0]
                                                                 CompetitionMonthsOpen_flt[0][0]
                                                                 StoreType_flt[0][0]
                                                                 Week_flt[0][0]
                                                                 Promo2Weeks_flt[0][0]
                                                                 Promo_fw_flt[0][0]
                                                                 Promo_bw_flt[0][0]
                                                                 StateHoliday_fw_flt[0][0]
                                                                 StateHoliday_bw_flt[0][0]
                                                                 SchoolHoliday_fw_flt[0][0]
                                                                 SchoolHoliday_bw_flt[0][0]
                                                                 contin_d[0][0]
__________________________________________________________________________________________________
dropout_1 (Dropout)             (None, 348)          0           concatenate_1[0][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 1000)         349000      dropout_1[0][0]
__________________________________________________________________________________________________
dense_2 (Dense)                 (None, 500)          500500      dense_1[0][0]
__________________________________________________________________________________________________
dropout_2 (Dropout)             (None, 500)          0           dense_2[0][0]
__________________________________________________________________________________________________
dense_3 (Dense)                 (None, 1)            501         dropout_2[0][0]
==================================================================================================
Total params: 911,846
Trainable params: 911,846
Non-trainable params: 0
__________________________________________________________________________________________________

## Start training

In [ ]:
hist = model.fit(map_train, y_train, batch_size=128, epochs=25,
                 verbose=1, validation_data=(map_valid, y_valid))

WARNING:tensorflow:From /home/usuario/anaconda3/envs/GPUV2/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 759904 samples, validate on 84434 samples
Epoch 1/25
759904/759904 [==============================] - 29s 39us/step - loss: 0.0119 - val_loss: 0.0108
Epoch 2/25
759904/759904 [==============================] - 27s 35us/step - loss: 0.0082 - val_loss: 0.0110
Epoch 3/25
759904/759904 [==============================] - 27s 35us/step - loss: 0.0071 - val_loss: 0.0101
Epoch 4/25
759904/759904 [==============================] - 27s 36us/step - loss: 0.0067 - val_loss: 0.0099
Epoch 5/25
759904/759904 [==============================] - 27s 35us/step - loss: 0.0066 - val_loss: 0.0098
Epoch 6/25
759904/759904 [==============================] - 27s 35us/step - loss: 0.0064 - val_loss: 0.0100
Epoch 7/25
759904/759904 [==============================] - 27s 35us/step - loss: 0.0063 - val_loss: 0.0097
Epoch 8/25
759904/759904 [==============================] - 27s 35us/step - loss: 0.0062 - val_loss: 0.0101
Epoch 9/25
759904/759904 [==============================] - 27s 35us/step - loss: 0.0062 - val_loss: 0.0099
Epoch 10/25
759904/759904 [==============================] - 27s 35us/step - loss: 0.0061 - val_loss: 0.0097
Epoch 11/25
759904/759904 [==============================] - 27s 35us/step - loss: 0.0061 - val_loss: 0.0097
Epoch 12/25
759904/759904 [==============================] - 27s 35us/step - loss: 0.0060 - val_loss: 0.0097
Epoch 13/25
759904/759904 [==============================] - 27s 35us/step - loss: 0.0060 - val_loss: 0.0099
Epoch 14/25
759904/759904 [==============================] - 27s 35us/step - loss: 0.0060 - val_loss: 0.0101
Epoch 15/25
327168/759904 [===========>..................] - ETA: 14s - loss: 0.0059

In [ ]:
model.save_weights('trained_weights.hdf5')

In [ ]:
hist.history

In [ ]:
plt.plot(hist.history['val_loss'])
plt.plot(hist.history['loss'])

In [ ]:
preds = np.squeeze(model.predict(map_valid, 1024, verbose=1))

In [ ]:
def log_max_inv(preds, mx = max_log_y):
    return np.exp(preds * mx)

In [ ]:
print(log_max_inv(preds, max_log_y)[0])
print(log_max_inv(y_valid, max_log_y)[0])
print(math.sqrt(np.square(((log_max_inv(preds, max_log_y)[0] - log_max_inv(y_valid, max_log_y)[0])/log_max_inv(y_valid, max_log_y)[0]).mean())))

In [ ]:
preds_log_max_inv = log_max_inv(preds, max_log_y)
print(preds_log_max_inv)

In [ ]:
y_valid_array =  log_max_inv(np.array(y_valid), max_log_y)
print(y_valid_array)

In [ ]:
print(sqrt(mean(square((preds_log_max_inv - y_valid_array)/y_valid_array))))